<!-- jobs/templates/change_password.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    <h2>Change Password</h2>
    <form method="POST" action="{{ url_for('change_password') }}">
        <input type="password" placeholder="New password" name="new_password" value="{{request.form.new_password }}">
        <input type="password" placeholder="Confirm New password" name="confirm_new_password" value="{{request.form.confirm_new_password }}">
        <input type="submit" value="Change password">
    </form>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}
</main>
{% endblock main %}

