<!-- jobs/templates/index.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    <!-- Votre contenu de page ici -->

    {% if 'id' in session %}
        <p>Bienvenue, utilisateur!</p>
        <table>
            <tr>
                <td> <a href="{{ url_for('show_all') }}">Suivi candidatures</a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('logout') }}">Déconnexion</a></td>
            </tr>
        </table>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
        <p><a href="{{ url_for('login') }}">Veuillez vous identifier!</a>.</p>
        <!-- Autres éléments pour les utilisateurs non connectés -->
    {% endif %}
</main>
{% endblock main %}
