<!-- jobs/templates/request_reset_password.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    <h2>Request Reset Password</h2>
    <div>
        <form method="POST" action="{{ url_for('request_reset_password') }}">
            <input type="email" placeholder="E-Mail" name="email" value="{{request.form.email }}">
            <input type="submit" value="Récupération mot de passe">
        </form>
    </div>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
</main>
{% endblock main %}

