<!-- jobs/templates/request_reset_password.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    {% include './partials/_menu.html' %}
    <h2>Request Reset Password</h2>
    <form method="POST" action="{{ url_for('request_reset_password') }}">
        <input type="email" placeholder="E-Mail" name="email" value="{{request.form.email }}">
        <input type="submit" value="Récupération mot de passe">
    </form>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}
</main>
{% endblock main %}

