<!-- jobs/templates/reset_password.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    {% include './partials/_menu.html' %}
    <h2>Reset Password</h2>
    <div>
        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <input type="password" placeholder="New password" name="new_password" value="{{request.form.new_password }}">
            <input type="password" placeholder="Confirm New password" name="confirm_new_password" value="{{request.form.confirm_new_password }}">
            <input type="submit" value="Reset password">
        </form>
    </div>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}
</main>
{% endblock main %}

