<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Suivi candidatures</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Candidatures (<a href = "{{ url_for('new') }}">Ajout</a>)
         <!--(<a href = "{{ url_for('new') }}">Suppression</a>)-->
      </h3>

      <table>
         <style>
            table,
            th,
            td {
              padding: 10px;
              border: 1px solid black;
              border-collapse: collapse;
            }
         </style>
         <thead>
            <tr>
               <th>Offre</th>
               <th>URL</th>
               <th>Capture</th>
               <th>Location</th>
               <th>Company</th>
               <th>Contact</th>
               <th>Date</th>
            </tr>
         </thead>

         <tbody>
            {% for job in jobs|sort(attribute='date', reverse = True) %}
               <tr>
                  {% if job.active %}
                     <td width = 25%>{{ job.name }}</td>
                     {% if job.valid_url %}
                        <td width = 25%><a href="{{ job.url }}" target="_blank">{{ job.url }}</a></td>
                     {% else %}
                        <td width = 25%>{{ job.url }}</td>
                     {% endif %}
                     {% if job.capture %}
                        <td><a href="{{ url_for('static', filename=job.capture) }}" target="_blank">Image</a></td>
                     {% else %}
                        <td>:-( :-( :-(</a></td>
                     {% endif %}
                     <td>{{ job.zipCode }}</td>
                     <td>{{ job.company }}</td>
                     <td>{{ job.contact }}</td>
                     <td>{{job.date.strftime('%A %d %B %Y à %Hh%M')}}</td>
                  {% endif %}
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>